[submodule "include/tinyxml2"]
	path = include/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "include/pugixml"]
	path = include/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "include/fmt"]
	path = include/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "include/CTML"]
	path = include/CTML
	url = https://github.com/vincentlaucsb/CTML.git
[submodule "include/cxxopts"]
	path = include/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
